.nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $accent-color;
  padding: 12px 0 47px;

  @media (min-width: $tablet-width) {
    padding: 28px 0 66px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: static;
    padding: 0;
    width: auto;
  }
}

.nav--active {
  display: block;
  z-index: 2;
}

.nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: $mobile-width;
  padding: 0 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    gap: 20px;
    width: $tablet-width;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: auto;
    padding: 0;
  }
}
