.social-list {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    gap: 16px;
  }
}

.social-list__item-link {
  width: 30px;
  height: 30px;
}
